* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Inter';
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    background-color: darkgreen;
}

.title{
    color: #fff;
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 10px;
}

.hit-button {
    width: 120px;
    text-align: center;
    padding: 10px 0px;
    border-radius: 8px;
    border: 2px solid black;
    background-color: white;
    font-size: 18px;
    font-weight: 800;
    cursor: pointer;
    transition: transform 0.2s;
}

.hitButton:hover {
    transform: scale(1.1)
}

#refreshButton {
    position: absolute;
    left: 50%;
    margin-left:-60px;
    visibility: hidden;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    /* width: 56vh;
    height: 40vh; */
    /* min-width: 435px; */
    /* min-height: 287px;
    max-height: 372px; */
}

.card {
    position: relative;
    width: 266px;
    height: 372px;
    /* width: 100%;
    height: 100%; */
    perspective: 1000px;
}

.card-inner {
    position: absolute;
    width: 100%;
    /* min-width: 435px; */
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.dealer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    gap: 40px;
}

.dealer-card {
    position: relative;
    width: 133px;
    height: 186px;
    perspective: 1000px;
}

.dealer-card-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: no-repeat url("./images/cardback.png");
    background-size: contain;
}

.dealer-card-front, .dealer-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: no-repeat url("./images/cardback.png");
    background-size: contain;
}

.card-back {
    transform: rotateY(-180deg);
}

.dealer-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotateY(-180deg);
}

#cardfacea {
    background: no-repeat url("./images/cardfronta.png");
    background-size: contain;
}

#cardface2 {
    background: no-repeat url("./images/cardfront2.png");
    background-size: contain;
}

#cardface3 {
    background: no-repeat url("./images/cardfront3.png");
    background-size: contain;
}

#cardface4 {
    background: no-repeat url("./images/cardfront4.png");
    background-size: contain;
}

#cardface5 {
    background: no-repeat url("./images/cardfront5.png");
    background-size: contain;
}

#cardface6 {
    background: no-repeat url("./images/cardfront6.png");
    background-size: contain;
}

#cardface7 {
    background: no-repeat url("./images/cardfront7.png");
    background-size: contain;
}

#cardface8 {
    background: no-repeat url("./images/cardfront8.png");
    background-size: contain;
}

#cardface9 {
    background: no-repeat url("./images/cardfront9.png");
    background-size: contain;
}

#cardface10 {
    background: no-repeat url("./images/cardfront10.png");
    background-size: contain;
}

#cardfacej {
    background: no-repeat url("./images/cardfrontj.png");
    background-size: contain;
}

#cardfaceq {
    background: no-repeat url("./images/cardfrontq.png");
    background-size: contain;
}

#cardfacek {
    background: no-repeat url("./images/cardfrontk.png");
    background-size: contain;
}